.movie-top{
    background-image:url( https://homepage.momocdn.net/img/momo-upload-api-230912110927-638301137672516955.jpeg )
}

.movie-top__heading{
    color: var(--white-color) !important;
}

.top__movie-card{
    text-decoration: none;
}

.top__movie-card:hover .top__movie-card-item{
    outline: 2px solid rgb(255 255 255 /.5);
    border-radius: 12px;
}

.top__movie-card:hover .top__movie-card__title{
    text-decoration: underline;
}

.top__movie-card__gallery {
    position: relative;
    width: calc(100% - 160px);  
    height: 256px;
}

.top__movie-card__image{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, .6);
    filter: drop-shadow(2px 0px 2px #000);

}

.top__movie-card__gallery img:nth-child(1) {
    z-index: 4;
    transform: translateX(0);
}

.top__movie-card__gallery img:nth-child(2) {
    z-index: 3;
    transform: translateX(40px);
}

.top__movie-card__gallery img:nth-child(3) {
    z-index: 2;
    transform: translateX(80px);
}

.top__movie-card__gallery img:nth-child(4) {
    z-index: 1;
    transform: translateX(120px);
}


.top__movie-card__gallery img:nth-child(5) {
    z-index: 0;
    transform: translateX(160px);
}



.top__movie-card__title {
    color: var(--white-color);
    font-size: 2rem;
    margin: 12px 0 0 0;
    line-height: 25px;
}

.top__movie-card__desc {
    margin: 8px 0 0 0;
    color: #d6d1d4;
    font-size: 1.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top__movie-card__meta {
    margin: 12px 0 0 0;
    color: #a69ba2;
    font-size: 1.2rem;
    display: flex;
}

.top__movie-card__views{
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.top__movie-card__views svg{
    width: 16px;
    margin-right: 4px;
}

.top-movie-btn {
    text-align: center;
    margin-top: 32px;
}