.top-content {
    grid-column: span 8;
    padding : 32px 0;
}

.backdrop-img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center top;
    border-radius: 8px;
}

.backdrop-img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center top;
    border-radius: 8px;
}


.backdrop-container {
    position: relative;
    margin-bottom : 20px;
    z-index: -1;
}


.review-top-content {
    position: absolute;
    top: calc(100% - 45px);
    left: 15px;
    color: var(--white-color);
}

.review-container{
    position:relative;
    z-index: -1;
}

.is-truncated:after{
    background: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 100%);
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
}

.review-title {
    font-size: 2.4rem;
    margin-bottom: 12px;
}

.review-text {
    font-size: 1.6rem;
    margin-bottom: 16px;
    color: #000000D9;
    line-height : 2rem;
    list-style : none;
    padding : 0;
}

.review-text_highlight {
    color: var(--color-primary);
}

.review-detail-title {
    font-size: 1.8rem;
    margin: 28px 0 10px;
}

.rating-score {
    margin-left: 10px;
    color: var(--color-primary);
    font-weight: bold;
}

.continue {
    display: flex;
    justify-content: center;
}

.btn-view-more{
    padding: 8px 14px;
    font-size: 1.6rem;
    color: #429CFF;
    margin-top: 12px;
    border: none;
    background-color: var(--white-color);
    border-radius : 8px ;
    cursor : pointer;
}

.btn-view-more:hover{
    background-color : rgb(238 248 255);

}

