.movie-container{
    background-color : #faf9fa;
}



.movie-container__header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px;
    font-size: 1.4rem;
}

.movie-container__header h2{
    font-size: 2.4rem;
    font-family: cursive;
    color: var(--color-primary);
}

.filters {
    display: flex;
    align-items: center;
}


.filters .input{
    border-radius: 5px;
    border: 1px solid var(--color-separate);
    padding: 6px 12px;
    background-color: var(--white-color);
}

.input input{
    border: none;
    outline : none;
}





.pagination--sapce{
    margin: 30px 0;
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}


.pagination-item__link {
    text-decoration: none;
    color: #939393;
    font-size: 1.6rem;
    min-width: 40px;
    height: 30px;
    display: block;
    text-align: center ;
    line-height: 30px;
    margin: 0 5px;
}

.pagination-item--active a {
    background-color: var(--color-primary);
    color: var(--white-color);
    border-radius: 5px;
}

.pagination-item--active:hover a {
    opacity: 0.8;
}


.movie-null {
    margin: 80px 0 80px;
    font-size: 1.6rem;
    text-align: center;
    color: var(--text-color);
}


