.comments-container {
    padding: 32px 0;
    border-bottom: 1px solid var(--color-separate);
    grid-column: 1 / 3;
    border-top : 1px solid var(--color-separate)
}

.comments-title {
    padding-bottom: 12px;
    font-size: 2rem;
}

.comments-title__null {
    margin: 16px 0 16px 8px;
    font-size: 1.4rem;
    color: var(--text-color);
}

.comments-summary {
    display: flex;
    margin-bottom: 4px;
}

.star {
    font-size: 2.3rem;
    color: #ffdb0d;
    align-content: start;
    margin-top: 5px;
}

.rating {
    font-size: 3.6rem;
    padding: 0 2px 0 8px;
    line-height: 36px;
}

.rating-detail {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top: 10px;
}

.comment-card{
    padding: 20px 0;
}

.comment-header {
    display: flex;
}


.comment-avatar{
    height: 36px;
    border-radius: 50%;
    width: 36px;
    object-fit: cover;
    margin-right: 12px;
}


.comment-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment-author {
    font-size: 1.5rem;
}

.comment-meta {
    font-size: 1.2rem;
    color: #796B73;
    display:flex
}

.momo-badge {
    padding-left: 8px;
    color: var(--color-primary);
    display:flex
}

.momo-badge svg {
    height: 1.6rem;
    margin-right: 4px;
}

.comment-rating {
    margin-top: 12px;
    font-size: 1.2rem;
    color: #ffdb0d;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
}

.comment-rating_text{
    color: var(--black-color);
    font-size: 1.5rem;
    margin: 0 5px;
}

.comment-content__text {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #1C171A;
}

.comment-rating_tag {
    color: var(--black-color);
    font-size: 1.5rem;
}

.comment-content_continue {
    font-size: 1.5rem;
    color: #429CFF;
}

.comment-tags {
    margin-top: 16px;
}

.comment-tags__text {
    padding: 4px 8px;
    font-size: 1.4rem;
    border-radius: 4px;
    background-color: #EEF8FF;
}

.comment-tags__text + .comment-tags__text {
    margin-left : 10px
}