.movie-card-review {
    grid-column: span 3;
    position: sticky;
    top : 64px;
    max-height : 80vh;
    padding : 32px;
}

.movie-condition-review{
    position: absolute;
    left: 33px;
    top: 8px;
    z-index: 2;
}

.movie-review-img {
    width: 80%;
    border-radius: 8px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.movie__title {
    font-size: 1.6rem;
    margin-top: 8px;
    text-align: center;
}

.movie-info_content {
    margin: 12px 0 12px 12px;
    font-size: 1.4rem;
    color: var(--text-color);
    display: grid;
    row-gap: 8px;
    list-style: none;
    padding: 0;
}

.btn-book {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-primary);
    background: var(--white-color);
    border: 1px solid;
}


.btn-book:hover{
    color : var(--white-color)
}


