.slider{
    padding: 56px 0;
    background-color: var(--color-primary-bland);
}

.text__heading {
    margin: 0 0 24px;
    font-size: 3.6rem;
    line-height: 46px;
    color: var(--color-primary);
    font-family: cursive;
}

.text__description {
    font-size: 1.8rem;
    font-weight: 100;
    line-height: 2.5rem;
}

.text__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 16px;
    flex-direction: column;
    justify-content: space-between;
}

.text__list-items {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.text__list-items i {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 1rem;
    text-align: center;
    background-color: #f5d8ea;
    border-radius: 50%;
    color: var(--color-primary);
    margin-right : 10px
}

.slider__img {
    width: 532px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

